.project-card {
  .project-card-title {
    font-weight: bold;
    font-size: 18px;
    margin: 2px 0;
  }

  .project-card-description {
    font-size: 16px;
    margin: 2px 0;
  }

  .project-card-meta {
    margin-bottom: 5px;
  }
}
